body {
    padding: 0;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


.card-name {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-bottom: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-body {
    padding-top: 15px;
    font-size: 30px;
}


.card-description {
    font-style: italic;
    font-size: larger;
}